@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(4, 14, 16);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    /*outline: 1px solid red;*/
    box-sizing: border-box;
}

body {
    max-width: 2000px;
}

h1,
h2,
h3 {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

/* Header */

header {
    height: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(241, 208, 40, 0.8);
}

#navbar {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;  
    height: 30px;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    height: 30px;
}

#navbar a {
    text-decoration: none;
    display: inline-block;
    height: 27px;
    padding: 2px;
    font-size: 0.7em;
}

a:hover {
    font-size: 1.1em;
    background-color: rgb(229, 19, 114);
    color: rgb(255, 255, 255);
}

/*hero image*/

#hero-container {  
    width: 100%;
    height: 35vh;
    display: flex;
    background-image: url(../images/hero-image-clean-board.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

#main-name {
    text-align: center;
    position: absolute;
    /*W3schools code for position*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*End of code I use*/
}

#main-name h1 {
    color: rgb(239, 241, 240);
    width: 9ch;
    font-size: 3em;
}

#phrase {
    background-color: rgb(241, 208, 40, 0.9);
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2%;
    text-align: center;  
    border-radius: 50%;
    width: 56px;
    height: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*About us section*/

#about-us {
    position: relative;
    margin-top: 20px;
}

.title-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-container hr {
    border: 2px solid rgb(229, 19, 114);
    width: 24%;
}

#about-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto 0;
    background-color: rgba(241, 208, 40, 0.8);
}

.intern-info {
    max-width: 190px;
    height: auto;
    margin: 20px auto;
    border-radius: 10%;
    box-shadow: 5px 6px rgb(229, 19, 114);
    background-color: rgb(255, 255, 255);
}

.intern-info h3 { 
    margin: 10px 0 5px;
    text-align: center;
    color: rgb(6, 20, 23);
}

.intern-info p {
    text-align: justify;
    padding: 15px;  
}

#values-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 20px;
    background-color: rgba(40, 207, 123, 0.7);
    justify-content: center;
}

.value {
    display: inline-flex;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.even-number {
    border: 4px solid rgb(241, 208, 40);
}

.odd-number {
    border: 4px solid rgb(229, 19, 114);
}

.value p {
    font-weight: bold;
}

/*Program*/

#program {
    position: relative;
    margin-top: 20px;
}

#program-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto 0;
    justify-content: center;
    background-color: rgba(242, 213, 61, 0.8);
}

.program-description {
    width: 180px;
    height: auto;
    margin: 40px 26px 15px;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(229, 19, 114);
    border-radius: 5%;
}

.day {
    position: absolute;
    right: -29px;
    top: -34px;
    width: 50px;
    height: 50px;
    background-color: rgb(104, 221, 162);
    border-radius: 50%;   
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.day p {
    font-weight: bold;
}

.name-program {  
    padding: 5px;
}

.program-info {
    padding: 10px;
    text-align: justify;
}

#typical-day {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(40, 207, 123, 0.7);
    padding: 20px 0;
}

caption {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 4px 0;
    border: 1px solid rgb(104, 221, 162);
}

table, 
th, 
tr, 
td {
    border: 1px solid rgb(104, 221, 162);
    border-collapse: collapse;
    padding: 0 4px;
    background-color: rgb(255, 255, 255);
}

table {
    margin: 0 auto;
    width: 90%;
}

tr {
    height: 50px;
}

/* Code from W3schools*/
tr:nth-child(odd) {
    font-weight: bold;
  }
/*End of code from W3schools*/

/*Gallery*/

#gallery {
    position: relative;
    margin-top: 20px;
}

/*Code from Love Running and modify the column-count, the column-gap, margin and padding*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: normal;
    margin: 40px auto ;
    width: 80%;
}

#photos > img {
    width: 100%;
    margin: 5px auto;
    border-radius: 7%;
}
/*End of using the code from Love Running*/

/*Contact*/

#contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#form-container {
    margin: 40px auto 0;
    width: 100%; 
    background-image: url(../../assets/images/kids-spelling-word-team-with-cards-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#form-container label {
    font-size: 0.8em;
    font-weight: bold;
}

#form-info {
    max-width: 300px;
    height: auto;
    text-align: center;
    padding: 3px;
    margin: 0 auto;
    background-color: rgb(240, 248, 255, 0.8);
}

.form-input {
    border: 2px solid rgb(0, 158, 134);
    margin: 0 auto 15px;
    width: 70%;
    padding: 5px;
    background-color: rgb(40, 207, 123, 0.1);
    /*font-size: 0.9em;*/
}

.form-input:focus {
    background-color: rgba(241, 208, 40, 0.8);
}

#form-info h3 {
    margin: 5px 0 25px;
    font-weight: bold;
}

#add-comment {
    width: 70%;
    margin: 0 0 15px;
    padding: 5px;
    resize: none;
    border: 2px solid rgb(0, 158, 134); 
    background-color: rgb(40, 207, 123, 0.1);
    font-size: 0.9em;
}

#add-comment:focus {
    background-color: rgb(241, 208, 40, 0.9);
}

#send-info {
    margin-bottom: 15px;
    padding: 12px;
    background-color: rgb(40, 207, 123, 0.7);
    border: none;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    font-size: 0.9em;
}

#send-info:hover {
    background-color: rgb(241, 208, 40, 0.9);
    border-color: rgb(4, 14, 16);
}

/*Footer*/

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(245, 221, 100);
    padding: 10px;
}

footer p {
    font-size: 0.6em;
    font-weight: bold;
}

#social-media {
    margin: 2px auto;  
}

#social-media li {
    list-style: none;
    display: inline-block;
    padding: 10px;   
}

#social-media a {
    text-decoration: none;
}

#social-media i {
    color: rgb(229, 19, 114);
    font-size: 1.5em;
}

/*media queries min-width: 365px*/
@media screen and  (min-width: 365px) {

    #main-name h1 {
        font-size: 3.5em;
    }

    #hero-container {
        height: 41vh;
    }
}

/*media queries min-width: 420px*/
@media screen and  (min-width: 420px) {
 
    #navbar a {
        padding-left: 5px;
        padding-right: 5px;
    }

    #hero-container {
        height: 47vh;
    }

    #main-name h1 {
        font-size: 3.9em;
    }

    .title-container hr {
        width: 29%;
    }

    #typical-day {
        max-width: 80%;
    }
    
    #form-info {
        max-width: 360px;
    }
}

/*media queries min-width: 470px*/

@media screen and  (min-width: 470px) {

    * {
        font-size: 1em;
    }

    #hero-container {
        height: 52vh;
    }

    #main-name h1 {
    font-size: 2.9em;
    }

    #top-phrase {
        width: 60px;
        height: 60px;
    }

    .intern-info {
        max-width: 240px;
    }

    .program-description {
        width: 210px;
    }

    #form-info {
        max-width: 390px;
    }
}

/*media queries min-width: 550px*/

@media screen and  (min-width: 550px) {

    #navbar a {
        font-size: 1em;
    }

    #hero-container {
        height: 62vh;
    }

    #main-name h1 {
        font-size: 3.4em;
    }
}

/*media queries min-width: 660px*/

@media screen and  (min-width: 660px) {

    * {
        font-size: 1em;
    }

    #navbar a {
      font-size: 1em;
    }

    #hero-container {
        height: 72vh;
    }

    #main-name h1 {
        font-size: 3.8em;
    }

    .intern-info {
        max-width: 225px;
    }

    #photos {
        column-count: 3;
    }
}

/*media queries min-width: 830px*/

@media screen and  (min-width: 830px) {

    .title-container hr {
        width: 31%;
    }

    #form-info {
        max-width: 410px;
    }
}

/*media queries min-width: 900px*/

@media screen and  (min-width: 900px) {

    #main-name h1 {
        font-size: 4.3em;
    }

    #hero-container {
        height: 80vh;
    }

    .title-container hr {
        width: 32.5%;
    }

    table {
        width: 80%;
    }

    #form-info {
        max-width: 440px;
    }
}

/*media queries min-width: 1100px*/

@media screen and  (min-width: 1100px) {

    header,
    #navbar,
    #navbar li,
    #navbar a {
        height: 35px;
    }

    #navbar a {
        font-size: 1.3em;
    }

    .value {
        width: 130px;
        height: 130px;
    }
}

/*media queries min-width: 1270px*/

@media screen and  (min-width: 1270px) {

    header,
    #navbar,
    #navbar li,
    #navbar a {
        height: 40px;
    }

    #hero-container {
        height: 90vh;
    }

    #main-name h1 {
        font-size: 6em;
    }

    .title-container hr {
        width: 34%;
    }

    .intern-info {
        max-width: 300px;
    }

    .intern-info h3 {
        font-size: 1.2em;
    }

    .value {
        width: 150px;
        height: 150px;
    }

    .program-description {
        width: 250px;
    }

    .day {
        right: -31px;
        top: -26px;
        width: 60px;
        height: 60px;
    }

    table {
        width: 73%;
    }

    #form-info {
        max-width: 480px;
    }
}

/*media queries min-width: 1420px*/

@media screen and  (min-width: 1420px) {

    #main-name h1 {
        font-size: 6.5em;
    }

    .value {
        width: 187px;
        height: 187px;
    }
}

/*media queries min-width: 1660px*/

@media screen and  (min-width: 1660px) {

    #navbar a {
        font-size: 1.5em;
    }

    #hero-container {
        height: 74vh;
    }
    #main-name h1 {
        font-size: 7.9em;
    }
    .title-container hr {
        width: 31%;
    }

    #about-container,
    #values-container, 
    #program-container,
    #typical-day,
    #photos {
        width: 70%;
    }    
}

/*media queries min-width: 1930px*/

@media screen and  (min-width: 1930px) {

    #about-container,
    #values-container,
    #program-container,
    #typical-day {
        width: 67%;
    }

    .title-container hr {
        width: 30%;
    }
}