@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(4, 14, 16);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    /*outline: 1px solid red;*/
    box-sizing: border-box;
}

body {
    max-width: 2000px;
}

h1,
h2,
h3 {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

h2 {
    font-size: 1.15em;
}

/* Header */

header {
    height: 30px;
    width: 100%;
    margin: 0 auto 15px;
    background-color: rgb(241, 208, 40, 0.8);
}

#navbar {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;  
    height: 30px;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    height: 30px;
}

#navbar a {
    text-decoration: none;
    display: inline-block;
    height: 27px;
    padding: 2px;
    font-size: 0.7em;
}

a:hover {
    font-size: 1.1em;
    background-color: rgb(229, 19, 114);
    color: rgb(255, 255, 255);
}

/*hero image*/

#home {
    max-width: 100%;
    background-color: rgb(245, 245, 118);
    background-image: url(../images/hero-image-clean-board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-container {  
    margin: 0 auto 40px; 
    width: 296px;
    height: 196px;
    display: flex;
    position: relative;
    /*
    background-image: url(../../assets/images/home-hero-image-clean-board.jpg);
    background-size: cover; 
    background-position: center;*/
}

#main-name {
    position: absolute;
    top: 20%;
    left: 33.5%;
    height: auto;
    text-align: center;
}

#main-name h1 {
    color: rgb(239, 241, 240);
    width: 9ch;
    font-size: 1.2em;
}

.phrase {
    background-color: rgb(241, 208, 40, 0.9);
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2%;
    text-align: center;  
    border-radius: 50%;
}

.phrase p {
    font-size: 0.6em;
}

#top-phrase {
    width: 56px;
    height: 56px;
    top: -2%;
    left: -2%;
}

#bottom-phrase {
    width: 67px;
    height: 67px;
    top: 72%;
    right: -2%;
}

/*About us section*/

#about-us {
    position: relative;
    margin-top: 20px;
}

.title-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-container hr {
    border: 2px solid rgb(229, 19, 114);
    width: 20%;
}

#about-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto 0;
    background-color: rgba(241, 208, 40, 0.8);
}

.intern-info {
    max-width: 240px;
    height: auto;
    margin: 20px auto;
    border-radius: 10%;
    border: 4px solid rgb(229, 19, 114);
    background-color: rgb(255, 255, 255);
}

.intern-info h3 { 
    margin: 10px 0 5px;
    text-align: center;
    color: rgb(6, 20, 23);
}

.intern-info p {
    text-align: justify;
    padding: 15px;  
}

#values-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 20px;
    background-color: rgba(40, 207, 123, 0.7);
    justify-content: center;
}

.value {
    display: inline-flex;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.even-number {
    border: 4px solid rgb(241 208 40);
}

.odd-number {
    border: 4px solid rgb(229, 19, 114);
}

.value p {
    font-weight: bold;
}

/*Program*/

#program {
    position: relative;
    margin-top: 20px;
}

#program-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto 0;
    justify-content: center;
    background-color: rgba(242, 213, 61, 0.8);
}

.program-description {
    width: 250px;
    height: auto;
    margin: 40px 26px 15px;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(229, 19, 114);  
}

.day {
    position: absolute;
    right: -29px;
    top: -34px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(4, 14, 16);
    border-radius: 50%;   
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.day p {
    font-weight: bold;
}

.name-program {  
    padding: 5px;
    background-color: rgb(229, 19, 114);;
}

.program-info {
    padding: 10px;
    text-align: justify;
}

#typical-day {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(104, 221, 162);
    padding: 20px 0;
    font-size: 0.9em;
}

caption {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 4px 0;
    border: 1px solid rgb(104, 221, 162);
}

table, 
th, 
tr, 
td {
    border: 1px solid rgb(104, 221, 162);
    border-collapse: collapse;
    padding: 0 4px;
    background-color: rgb(255, 255, 255);
}

table {
    margin: 0 auto;
    width: 90%;
}

tr {
    height: 50px;
}

/* Code from W3schools*/
tr:nth-child(odd) {
    font-weight: bold;
  }
/*End of code from W3schools*/

/*Gallery*/

#gallery {
    position: relative;
    margin-top: 20px;
}

/*Code from Love Running and modify the column-count, the column-gap, margin and padding*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: normal;
    margin: 40px auto ;
    width: 80%;
}

#photos > img {
    width: 100%;
    margin: 5px auto;
    border-radius: 7%;
}
/*End of using the code from Love Running*/

/*Contact Us*/

#contact {
    margin-top: 20px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#form-container {
    margin: 40px auto 0;
    width: 100%; 
    background-image: url(../../assets/images/kids-spelling-word-team-with-cards-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#form-container label {
    font-size: 0.8em;
    font-weight: bold;
}

#form-info {
    max-width: 300px;
    height: auto;
    text-align: center;
    padding: 3px;
    margin: 0 auto;
    background-color: rgb(240, 248, 255, 0.8);
}

.form-input {
    border: 2px solid rgb(0, 158, 134);
    margin: 0 auto 15px;
    width: 70%;
    padding: 5px;
    background-color: rgb(40, 207, 123, 0.1);
    font-size: 0.9em;
}

.form-input:focus {
    background-color: rgb(241, 208, 40, 0.9);
}

#form-info h3 {
    margin: 5px 0 25px;
    font-weight: bold;
}

#add-comment {
    width: 70%;
    margin: 0 0 15px;
    padding: 5px;
    resize: none;
    border: 2px solid rgb(0, 158, 134); 
    background-color: rgb(40, 207, 123, 0.1);
    font-size: 0.9em;
}

#add-comment:focus {
    background-color: rgb(241, 208, 40, 0.9);
}

#send-info {
    margin-bottom: 15px;
    padding: 12px;
    background-color: rgb(40, 207, 123, 0.7);
    border: none;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    font-size: 0.9em;
}

#send-info:hover {
    background-color: rgb(241, 208, 40, 0.9);
    border-color: rgb(4, 14, 16);
}

/*Footer*/

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(104, 221, 162);
    padding: 10px;
}

footer h3 {
    font-size: 0.9em;
}

footer p {
    font-size: 0.6em;
    font-weight: bold;
}

#social-media {
    margin: 2px auto;  
}

#social-media li {
    list-style: none;
    display: inline-block;
    padding: 10px;   
}

#social-media a {
    text-decoration: none;
}

#social-media i {
    color: rgb(229, 19, 114);
    font-size: 1.5em;
}

/*media queries min-width: 420px*/
@media screen and  (min-width: 420px) {
 
    #navbar a {
        padding-left: 5px;
        padding-right: 5px;
    }

    #hero-container {
        width: 400px;
        height: 252px;
    }

    #main-name h1 {
        font-size: 1.55em;
    }

    #bottom-phrase {
        top: 77%;
        right: -9px;
    }

    .title-container hr {
        width: 27%;
    }

    #typical-day {
        max-width: 80%;
    }
    
    #form-info {
        max-width: 360px;
    }
}

/*media queries min-width: 560px*/

@media screen and  (min-width: 560px) {

    #hero-container {
        width: 508px;
        height: 332px;
    }

    #main-name h1 {
        font-size: 2.05em;
    }

    #bottom-phrase {
        width: 70px;
        height: 70px;
        top: 80%;
        right: -24px;
    }

    #top-phrase {
        width: 60px;
        height: 60px;
    }

    .title-container hr {
        width: 30%;
    }

    #form-info {
        max-width: 390px;
    }
}

/*media queries min-width: 700px*/

@media screen and  (min-width: 700px) {

    #navbar a {
      font-size: 1em;
    }

    #photos {
        column-count: 3;
    }
}

/*media queries min-width: 780px*/

@media screen and  (min-width: 780px) {

    #hero-container {
        width: 633px;
        height: 400px;
    }

    #main-name h1 {
        font-size: 2.5em;
    }

    .phrase p {
        font-size: 0.8em;
    }

    #top-phrase {
        width: 70px;
        height: 70px;
    }

    #bottom-phrase {
        width: 90px;
        height: 90px;
    }

    .title-container hr {
        width: 33%;
    }

    #photos {
        column-count: 3
    }

    #form-info {
        max-width: 410px;
    }
}

/*media queries min-width: 970px*/

@media screen and  (min-width: 970px) {

    #main-name h1 {
        font-size: 3em;
    }

    #hero-container {
        width: 771px;
        height: 484px;
    }

    #top-phrase {
        top: -1%;
        left: -5%;
    }

    #bottom-phrase {
        top: 84%;
        right: -39px;
    }

    h2 {
        font-size: 1.25em;
    }

    table {
        width: 80%;
    }

    #form-info {
        max-width: 440px;
    }
}

/*media queries min-width: 1090px*/

@media screen and  (min-width: 1090px) {

    header,
    #navbar,
    #navbar li,
    #navbar a {
        height: 35px;
    }

    #navbar a {
        font-size: 1.3em;
    }

    #hero-container {
        width: 840px;
        height: 535px;
    }

    #main-name h1 {
        font-size: 3.2em;
    }

    .phrase p {
        font-size: 1.2em;
    }

    #top-phrase {
        width: 102px;
        height: 102px;
    }

    #bottom-phrase {
        width: 120px;
        height: 120px;
        top: 81%;
    }

    h2 {
        font-size: 1.4em;
    }

    .value {
        width: 130px;
        height: 130px;
    }
}

/*media queries min-width: 1270px*/

@media screen and  (min-width: 1270px) {

    header,
    #navbar,
    #navbar li,
    #navbar a {
        height: 40px;
    }

    #hero-container {
        width: 953px;
        height: 597px;
    }

    #main-name h1 {
        font-size: 3.7em;
    }

    .title-container hr {
        width: 36%;
    }

    #top-phrase {
        width: 105px;
        height: 105px;
    }

    #bottom-phrase {
        width: 125px;
        height: 125px;
    }

    p {
        font-size: 1.3em;
    }

    .intern-info {
        max-width: 300px;
    }

    .intern-info h3 {
        font-size: 1.2em;
    }

    .value {
        width: 150px;
        height: 150px;
    }

    .program-description {
        width: 290px;
    }

    .day {
        right: -31px;
        top: -26px;
        width: 60px;
        height: 60px;
    }

    #form-info {
        max-width: 480px;
    }
}

/*media queries min-width: 1420px*/

@media screen and  (min-width: 1420px) {

    .value {
        width: 187px;
        height: 187px;
    }
}

/*media queries min-width: 1660px*/

@media screen and  (min-width: 1660px) {

    #navbar a {
        font-size: 1.5em;
    }

    #hero-container {
        width: 1076px;
        height: 672px;
    }

    #main-name h1 {
        font-size: 4.15em;
    }

    .title-container hr {
        width: 31%;
    }

    #bottom-phrase {
        width: 130px;
        height: 130px;
    }

    #about-container,
    #values-container, 
    #program-container,
    #typical-day,
    #photos {
        width: 70%;
    }    
}

/*media queries min-width: 1930px*/

@media screen and  (min-width: 1930px) {

    #about-container,
    #values-container,
    #program-container,
    #typical-day {
        width: 67%;
    }

    .title-container hr {
        width: 30%;
    }
}