@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(4, 14, 16);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
}
/* Header */

#navbar {
    display: flex;
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    justify-content: center;
}

#navbar li {
    list-style-type: none;
    display: inline;
    padding: 2px 10px;
}

#navbar a {
    text-decoration: none;
}

/*hero image*/

#hero-container {  
    margin: 0 auto; 
    width: 870px;
    height: 521px;
    display: flex;
    position: relative;
    background-image: url(../assets/images/home-hero-image-clean-board.jpg);
    background-size: cover;    
}

#main-name {
    position: absolute;
    top: 21%;
    left: 31%;
    width: 350px;
    height: auto;
    text-align: center;
}

#main-name h1 {
    color: rgb(239, 241, 240);
    font-size: 60px;
}

.phrase {
    background-color: rgb(207, 175, 31);
    display: inline;
    position: absolute;
    padding: 2%;
    text-align: center; 
    
    border-radius: 50%;
}

#top-phrase {
    width: 60px;
    height: 60px;
    top: 5%;
    left: -4%;
}

#bottom-phrase {
    width: 90px;
    height: 90px;
    top: 67%;
    right: -8%;
}


hr {
    max-width: 70%;
    margin-left: 147px;
    margin-top: 80px;
    border: 2px solid rgb(0, 61, 82);
    justify-items: right;
}

/*About us section*/

#about-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    position: relative;
}

#about-title {
    display: inline-flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    background-color: rgb(207, 175, 31);
    justify-content: center;
    align-items: center;
}

#about-container h2 {
    font-size: 1.4em;
    padding: 2px;
    text-align: center;
}

.intern-info {
    display: inline;
    width: 250px;
    height: 250px;
    margin: 50px auto;
    border-radius: 10%;
    border: 2px solid rgb(0, 0, 0);
}

.intern-info h3 {
    margin: 10px 0;
    text-align: center;
    color: rgb(6, 20, 23);
    font-size: 1.2em;
}

.intern-info p {
    text-align: justify;
    padding: 15px;
    font-family: 'Roboto', sans-serif ;
    color: rgb(6, 21, 24);
}

#values-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    justify-content: center;   
}

#values-title {
    display: inline-flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -65px;
    background-color: rgb(0, 61, 82);
    justify-content: center;
    align-items: center;
    font-size: medium;
}

#values-title h2 {
    color: rgb(239, 241, 240);
}

.value {
    display: inline-flex;
    width: 120px;
    height: 120px;
    background-color: rgb(207, 175, 31);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 25px  30px;
}

.value p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(6, 20, 23);
}

/*Program*/

#program {
    position: relative;
}

#program-title {
    display: inline-flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 112px;
    background-color: rgb(207, 175, 31);
    justify-content: center;
    align-items: center;   
}

#program-title h2 {
    font-size: 1.2em;
}

#program-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
    justify-content: center;
    padding-top: 30px;
}

.program-description {
    display: inline;
    width: 25%;
    margin: 15px 26px;
    position: relative;
    text-align: center;
    background-color: rgb(22, 182, 155, 0.4);
    border-radius: 20%;
}

.name-program {  
    padding: 10px;
    margin: 0 auto;
    max-width: inherit;
    background-color: rgb(11, 91, 78);
}

.name-program h3 {
    color: rgb(239, 241, 240);
    font-size: 1.2em;
}

.program-info {
    padding: 25px;
    text-align: justify;
}

/*Gallery*/

#gallery {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#gallery-title {
    display: inline-flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -130px;
    left: 60px;
    background-color: rgb(207, 175, 31);
    justify-content: center;
    align-items: center; 
}
#gallery h2 {
    font-size: 1.2em;  
}

/*Code from Love Running and modify the column-count and the column-gap, add margin and padding*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: normal;
    margin: 60px 0 10px;
}

#photos > img {
    width: 100%;
    margin: 5px auto;
    border-radius: 7%;
}
/*End of using the code from Love Running*/

/*Contact Us*/
#contact {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

#contact-title {
    display: inline-flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 60px;
    background-color: rgb(207, 175, 31);
    justify-content: center;
    align-items: center;
}

#contact-title h2 {
    font-size: 1.2em;
    text-align: center;
}

#form-info {
    border: 1px solid #000;
    max-width: 40%;
    height: auto;
    margin: inherit;
    text-align: center;
    padding: 3px;
    margin-top: 20px;
}

.form-input {
    border: 1px solid red;
    font-size: 1.2em;
    margin: 5px 0;
    max-width: 90%;
    padding: 5px;
}

#form-info p {
    /*choose font-family*/
    margin-bottom: 5px;
    font-weight: bold;
}

#form-info textarea {
    max-width: 100%;
    margin: 10px 0;
    resize: none;
    border: 1px solid red; 
}

#send-info {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 10px;
}

/*Footer*/

footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
}

#social-media {
    margin: 10px auto;
    
}

#social-media li {
    list-style: none;
    display: inline;
    padding: 10px;
    
}

#social-media a {
    text-decoration: none;
}