@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(4, 14, 16);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    outline: 1px solid red;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
}

h1,
h2,
h3 {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

/* Header */

header {
    height: 140px;
    margin: 0 auto 20px;
}

#navbar {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;  
    height: 140px;
}

#navbar li {
    list-style-type: none;
    height: 28px;
}

#navbar a {
    text-decoration: none;
    display: inline-block;
    height: 28px;
    padding: 5px;
}