@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(4, 14, 16);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}
/* Header */

#navbar {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;  
}

#navbar ul {   
    padding: 10px;
}

#navbar li {
    list-style-type: none;
    display: inline;
    padding: 2px 10px;
}

#navbar a {
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    padding: 3px;
    font-weight: bold;
    background-color: rgb(241 208 40);
}

/*hero image*/

#hero-container {  
    margin: 0 auto 40px; 
    width: 870px;
    height: 530px;
    display: flex;
    position: relative;
    background-image: url(../assets/images/home-hero-image-clean-board.jpg);
    background-size: contain;    
}

#main-name {
    position: absolute;
    top: 21%;
    left: 31%;
    width: 350px;
    height: auto;
    text-align: center;
}

#main-name h1 {
    color: rgb(239, 241, 240);
    font-size: 60px;
}

.phrase {
    background-color: rgb(241 208 40);
    display: inline;
    position: absolute;
    padding: 2%;
    text-align: center;   
    border-radius: 50%;
}

#top-phrase {
    width: 60px;
    height: 60px;
    top: 5%;
    left: -4%;
}

#bottom-phrase {
    width: 90px;
    height: 90px;
    top: 67%;
    right: -8%;
}


hr {
    max-width: 70%;
    margin-left: 147px;
    margin-top: 80px;
    border: 2px solid rgb(0, 186, 154);
}

/*About us section*/

#about-us {
    position: relative;
}

.section-title {
    background-color: rgb(241, 208, 40);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    display: inline-flex;
    width: 130px;
    height: 130px; 
}

.section-title h2 {
    text-align: center;
    font-size: 1.2em;
}

.section-title-position {
    top: -130px;
    left: 100px;
}

#about-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 60px auto 40px;  
}

.intern-info {
    width: 250px;
    height: auto;
    margin: 20px auto;
    border-radius: 10%;
    border: 4px solid rgb(107 180 46);
}

.intern-info h3 { /*I need to see the font color*/
    margin: 10px 0 5px;
    text-align: center;
    color: rgb(6, 20, 23);
    font-size: 1.2em;
}

.intern-info p {
    text-align: justify;
    padding: 15px;
    color: rgb(6, 20, 23);
}

#values-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    justify-content: center;   
}

.value {
    display: inline-flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 25px 30px;
}

.even-number {
    background-color: rgb(40, 207, 123);
    border: 4px solid rgb(141, 195, 75);
}

.odd-number {
    background-color: rgb(141, 195, 75);
    border: 4px solid rgb(40, 207, 123);
}

.value p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(6, 20, 23);
}

/*Program*/

#program {
    position: relative;
}

#program-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 60px auto 40px;
    justify-content: center;
    padding-top: 30px;
}

.program-description {
    width: 250px;
    height: auto;
    margin: 20px 26px 15px;
    position: relative;
    text-align: center;
    border: 3px solid rgb(107, 180, 46);  
}

.day {
    position: absolute;
    right: -34px;
    top: -30px;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 208, 40);
    border: 2px solid;
    border-radius: 50%;   
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.name-program {  
    padding: 5px;
    background-color: rgb(107, 180, 46);
}

.name-program h3 {
    font-size: 1.2em;
}

.program-info {
    padding: 15px;
    text-align: justify;
}

#typical-day {
    width: 50%;
    margin: 0 auto;
}

caption {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
    background-color: rgb(141, 195, 75);
    border: 2px solid rgb(141, 195, 75);
    border-bottom: none;
    font-weight: bold;
}

table,
th,
tr,
td {
    border: 2px solid rgb(141, 195, 75);
    border-collapse: collapse;
}

tr {
    height: 50px;
}

tr:nth-child(even) {
    background-color: rgb(141, 195, 75, 0.6);
  }


/*Gallery*/

#gallery {
    position: relative;
}

/*Code from Love Running and modify the column-count, the column-gap, add margin and padding*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: normal;
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
   
}

#photos > img {
    width: 100%;
    margin: 5px auto;
    border-radius: 7%;
}
/*End of using the code from Love Running*/

/*Contact Us*/
#contact {
    position: relative;
}

#form-container {
    margin: 60px auto 40px;
}

#form-info {
    border: 4px solid rgb(175, 197, 32);
    max-width: 350px;
    height: auto;
    text-align: center;
    padding: 3px;
    margin: 0 auto;   
}

.form-input {
    border: 2px solid rgb(0, 158, 134);
    margin: 5px 0;
    max-width: 90%;
    padding: 5px;
    background-color: rgb(40, 207, 123, 0.1);
}

.form-input:focus {
    background-color: rgb(175, 197, 32, 0.7);
}

#form-info h3 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.2em;
}

#add-comment {
    max-width: 90%;
    margin: 10px 0;
    resize: none;
    border: 2px solid rgb(0, 158, 134); 
    background-color: rgb(40, 207, 123, 0.1);
}

#add-comment:focus {
    background-color: rgb(175, 197, 32, 0.7);
}

#send-info {
    font-size: 1.1em;
    margin-bottom: 15px;
    padding: 8px;
    background-color: rgb(175, 197, 32);
    border: 2px solid rgb(4, 14, 16);
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

#send-info:hover {
    background-color: rgb(0, 186, 154);
    border-color: rgb(175, 197, 32);
    font-size: 1.3em;
}

/*Footer*/

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(241, 208, 40);
    padding: 10px;
}

#social-media {
    margin: 10px auto;   
}

#social-media li {
    list-style: none;
    display: inline;
    padding: 10px;    
}

#social-media a {
    text-decoration: none;
}

footer p {
    font-size: 12px;
    font-weight: bold;
}

/*media queries max-width: 1200px*/

@media screen and  (max-width: 1200px) {
  
    #hero-container {  
        width: 673px;
        height: 422px;     
    }

    #main-name {
        left: 24%;
    }

    #main-name h1 {
        font-size: 43px;
    }

}

/*media queries max-width: 800px*/
@media screen and  (max-width: 800px) { 
    * {
        font-size: 14px;
    }

    #navbar ul {
        padding: 5px;
    }
    
    #top-phrase {
        width: 50px;
        height: 50px;
    }
     
    #hero-container {  
        width: 513px;
        height: 322px;
    }  
    
    #main-name {
        width: 280px;
    }

    #main-name h1 {
        font-size: 36px;
    }
  
    #bottom-phrase {
        width: 75px;
        height: 75px;
    }

    hr {
        max-width: 60%;
    }

    .section-title  {
        width: 100px;
        height: 100px;
    }

    .section-title h2 {
        font-size: 16px;
    }

    .section-title-position {
        top: -114px;
        left: 57px;
    }

    .intern-info {
        width: 220px;
    }

    .intern-info h3 {
        font-size: 15px;
    }

    .name-program h3 {
        font-size: 15px;   
    }

    #form-info {
        max-width: 43%;
        margin-top: 40px;
    }

    #form-info h3 {
        font-size: 15px;
    }

    .value {
        width: 95px;
        height: 95px;
    }

    .value p {
        font-size: 18px;
    }
} 

/*media queries max-width: 630px*/

@media screen and  (max-width: 630px) {
    * {
        font-size: 13px;
    }

    #hero-container {  
        width: 420px;
        height: 265px;
    }

    #bottom-phrase {
        width: 65px;
        height: 65px;
    }

    #main-name {
        width: 236px;
    }

    #main-name h1 {
        font-size: 30px;
    }

}  

/*media queries max-width: 550px*/

@media screen and  (max-width: 550px) {    

    #navbar li {
        padding: 2px 5px;
    }

    #hero-container {
        width: 400px;
        height: 250px;
    }

    #main-name {
        width: 222px;
    }

    #main-name h1 {
        font-size: 28px;
    }

    hr {
        max-width: 48%;
    }

    .section-title h2 {
        font-size: 14px;
    }

    .section-title {
        width: 92px;
        height: 92px;
    }

    .value {
        width: 77px;
        height: 77px;
        margin: 14px;
    }

    .value p {
        font-size: 15px;
    }

    #photos {
        column-count: 1;
    }

    #form-info {
        max-width: 66%;
    }
}

/*media queries max-width: 482px*/

@media screen and  (max-width: 480px) { 

    #hero-container {
        width: 323px;
        height: 205px;
    } 

    #main-name {
        width: 180px;
    }

    #main-name h1 {
        font-size: 23px;
    }
}

/*media queries max-width: 393px*/

@media screen and  (max-width: 393px) {
      
    * {
        font-size: 11px;
    }

    #navbar li {
        padding: 2px;
    }

    #hero-container {
        width: 280px;
        height: 176px;
    }

    #main-name {
        width: 154px;
    }

    #main-name h1 {
        font-size: 20px;
    }

    #top-phrase {
        width: 43px;
        height: 43px;
        top: -4%;
    }

    #bottom-phrase {
        width: 60px;
        height: 60px;
        right: -6%;
    }

    hr {
        max-width: 40%;
    }
}
