@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(4, 14, 16);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    outline: 1px solid red;
}

body {
    max-width: 2000px;
}
h1,
h2,
h3 {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

/* Header */

header {
    height: 50px;
    margin: 20px auto;
}

#navbar {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;  
    height: 50px;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    height: 50px;
}

#navbar a {
    text-decoration: none;
    display: inline-block;
    height: 50px;
    font-size: 1.4em;
    padding: 0 5px;
}

a:hover {
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgb(241 208 40);
    height: 50px;
}

/*hero image*/

#hero-container {  
    margin: 0 auto 40px; 
    width: 870px;
    height: 530px;
    display: flex;
    position: relative;
    background-image: url(../assets/images/home-hero-image-clean-board.jpg);
    background-size: cover;    
}

#main-name {
    position: absolute;
    top: 18%;
    left: 31.5%;
    height: auto;
    text-align: center;
}

#main-name h1 {
    color: rgb(239, 241, 240);
    font-size: 3em;
    width: 9ch;
}

.phrase {
    background-color: rgb(241 208 40);
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2%;
    text-align: center;  
    border-radius: 50%;
}

#top-phrase {
    width: 60px;
    height: 60px;
    top: 5%;
    left: -4%;
}

#bottom-phrase {
    width: 80px;
    height: 80px;
    top: 67%;
    right: -8%;
}

/*About us section*/

#about-us {
    position: relative;
    margin-top: 20px;
}

.title-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.title-container hr {
    border: 2px solid rgb(229, 19, 114);
    width: 30%;
    display: inline-block;
    position: relative;
    top: -6px;
}

#about-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
   
}

.intern-info {
    width: 250px;
    height: auto;
    margin: 20px auto;
    border-radius: 10%;
    border: 4px solid rgb(40, 207, 123);
}

.intern-info h3 { 
    margin: 10px 0 5px;
    text-align: center;
    color: rgb(6, 20, 23);
    font-size: 1.2em;
}

.intern-info p {
    text-align: justify;
    padding: 15px;  
}

#values-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    justify-content: center;   
}

.value {
    display: inline-flex;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 25px 30px;
}

.even-number {
    background-color: rgb(40, 207, 123);
    border: 4px solid rgb(241 208 40);
}

.odd-number {
    background-color: rgb(241 208 40);
    border: 4px solid rgb(40, 207, 123);
}

.value p {
    font-weight: bold;
}

/*Program*/

#program {
    position: relative;
    margin-top: 20px;
}

#program-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
}

.program-description {
    width: 250px;
    height: auto;
    margin: 40px 26px 15px;
    position: relative;
    text-align: center;
    border: 3px solid rgb(40, 207, 123);  
}

.day {
    position: absolute;
    right: -34px;
    top: -30px;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 208, 40);
    border: 2px solid;
    border-radius: 50%;   
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.day p {
    font-weight: bold;
}

.name-program {  
    padding: 5px;
    background-color: rgb(40, 207, 123);
}

.name-program h3 {
    font-size: 1.2em;
}

.program-info {
    padding: 15px;
    text-align: justify;
}

#typical-day {
    width: 70%;
    margin: 20px auto;
}

caption {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
    background-color: rgb(241, 208, 40);
    border-bottom: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4px 0;
}

table,
th,
tr,
td {
    border: 2px solid rgb(241, 208, 40);
    border-collapse: collapse;
    padding: 0 12px;
}

table {
    margin: 0 auto;
}

tr {
    height: 50px;
}

/* Code from W3schools*/
tr:nth-child(even) {
    background-color: rgb(241, 208, 40, 0.4);
  }
/*End of code from W3schools*/

/*Gallery*/

#gallery {
    position: relative;
    margin-top: 20px;
}

/*Code from Love Running and modify the column-count, the column-gap, add margin and padding*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: normal;
    margin: 40px auto ;
    width: 80%;
}

#photos > img {
    width: 100%;
    margin: 5px auto;
    border-radius: 7%;
}
/*End of using the code from Love Running*/

/*Contact Us*/


#contact {
    margin-top: 20px;
}

#form-container {
    margin: 40px auto;
    width: 90%;
    background-image: url(../assets/images/kids-spelling-word-team-with-cards-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#form-info {
    max-width: 600px;
    height: auto;
    text-align: center;
    padding: 3px;
    margin: 0 auto;
    background-color: rgb(240, 248, 255, 0.6);
}

.form-input {
    border: 2px solid rgb(0, 158, 134);
    margin: 0 auto 15px;
    width: 70%;
    padding: 5px;
    background-color: rgb(40, 207, 123, 0.1);
}

.form-input:focus {
    background-color: rgb(241 208 40);
}

#form-info h3 {
    margin: 5px 0 25px;
    font-weight: bold;
    font-size: 1.2em;
}

#add-comment {
    width: 70%;
    margin: 0 0 15px;
    padding: 5px;
    resize: none;
    border: 2px solid rgb(0, 158, 134); 
    background-color: rgb(40, 207, 123, 0.1);
}

#add-comment:focus {
    background-color: rgb(241 208 40);
}

#send-info {
    margin-bottom: 15px;
    padding: 12px;
    background-color: rgb(40, 207, 123);
    border: none;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

#send-info:hover {
    background-color: rgb(241 208 40);
    border-color: rgb(4, 14, 16);
    font-size: 1.2em;
}

/*Footer*/

footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(241, 208, 40);
    padding: 10px;
}

footer h3 {
    font-size: 1em;;
}
footer p {
    font-size: 0.6em;
    font-weight: bold;
}

#social-media {
    margin: 10px auto;  
}

#social-media li {
    list-style: none;
    display: inline;
    padding: 10px;   
}

#social-media a {
    text-decoration: none;
}

#social-media i {
    color: #e51372;
    font-size: 1.5em;
}

/*media queries min-width: 1350px*/
@media screen and  (min-width: 1350px) {

    * {
        font-size: 1.1em;
    }

    #hero-container {
        width: 1190px;
        height: 750px;
    }

     h1 {
        font-size: 4.5em;
    }

    #top-phrase {
        width: 100px;
        height: 100px;
        left: -5%;
    }

    #bottom-phrase {
        width: 130px;
        height: 130px;
        right: -6%;
    }

    h2 {
        font-size: 2em;
    }

    .intern-info {
        width: 370px;
    }

    .value {
        width: 170px;
        height: 170px;
        margin-right: 45px;
        margin-left: 45px;
    }

    .program-description {
        width: 460px;
    }
    
    .day {
        right: -55px;
        top: -45px;
        width: 85px;
        height: 85px;
    }

    .form-input {
        margin-bottom: 24px;
    }

    #social-media {
        height: 70px;
    }

    footer p {
        font-size: 0.9em;
    }
}

/*media queries max-width:1350px*/

@media screen and  (max-width: 1350px){

    #main-name {
        top: 24%;
        left: 35.5%;
    }
}

/*media queries max-width:1040px*/

@media screen and  (max-width: 1040px) {

    #main-name {
        top: 19%;
        left: 32.5%;
    }

    #hero-container {
        width: 755px;
        height: 472px;
    }

    #form-info {
        max-width: 500px;
    }
}

/*media queries max-width: 890px*/
@media screen and  (max-width: 890px){

    header,
    #navbar {
        height: 30px;
    }

    #navbar li {
        height: 30px;
    }

    #navbar a {
        height: 30px;
        font-size: 1.1em;
    }

    #hero-container {
    width: 663px;
    height: 418px;
    }

    #main-name {
        left: 33.5%;
    }

    #main-name h1 {
        font-size: 2.6em;
    }

    #form-info {
        max-width: 430px;
        font-size: 0.8em;
    }
}

